<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="https://cdn-icons-png.flaticon.com/512/7692/7692809.png">
    <link rel="stylesheet" href="/css/home.css">
    <title>My Todo</title>
</head>

<body>

    <div class="nav">
        <div class="nav-logo-section">
            <img src="/img/to-do-list.png" alt="" class="nav-logo">
            <span class="nav-logo-name">My Tasks</span>
        </div>
        <div class="login-signup-section">
            <a href="/login" class="nav-login">Login</a>
            <a href="/register" class="nav-register">Register</a>
        </div>
    </div>
    <div class="main-container">
        <h4 class="main-heading">My Tasks</h4>
        <div class="about">
            <p>keep track of your daily routine easily 😃</p>
        </div>
        <div class="buttons">
            <a href="/dashboard"><button class="get-start" id="start">Get Started</button></a>
            <button class="learn-more" id="more">Learn More</button>
        </div>
    </div>

    <div class="learn-more-container" id="learn-more-container">
        <img src="https://cdn-icons-png.flaticon.com/512/2976/2976286.png" alt="" class="close-button">
        <p class="para1">
            <span class="para-first-word">To-do lists</span> A to-do list is a simple organizational tool used to keep
            track of tasks, activities, or items that need to be completed. It is a written or digital list that helps
            individuals prioritize and manage their work, responsibilities, and goals. To-do lists can be used for both
            personal and professional purposes.
        </p>
        <p class="para-heading">
            Benefits of to-do lists
        </p>
        <p class="para2">
            Task descriptions: A brief description of the task or item that needs to be completed.
            Due dates or deadlines: If a task has a specific time frame for completion, it is often noted on the list.
            Prioritization: Tasks can be categorized or ranked by their level of importance or urgency.

            Progress tracking: Some people use to-do lists to mark off completed tasks and monitor their progress.
            Notes or additional details: You can include additional information, such as notes, reminders, or relevant
            details about a task.

            To-do lists can be created on paper, in digital format using apps and software, or on whiteboards. Many
            people find to-do lists helpful for staying organized, managing their time effectively, and reducing the
            stress associated with remembering numerous tasks. By breaking down larger goals or projects into smaller,
            manageable tasks, individuals can make their workload more approachable and enhance productivity
        </p>
    </div>

    <div class="element1"></div>
    <div class="element2"></div>
    <div class="element3"></div>

    <script src="/js/home.js"></script>


</body>

</html>