<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/register.css">
    <title>Document</title>
</head>

<body>
    <div class="cover"> <h1>Create an account</h1>
    <div><form action="/register" method="post">
        <div>
            <input type="text" name="firstname" id="firstname" required="required" placeholder="Firstname">
        </div>
        <div>
            <input type="text" name="lastname" id="lastname" required="required" placeholder="Lastname">
        </div>
        <input type="text" name="phone" id="phone" required="required" placeholder="Phone">
        </div>
        <div>
            <input type="email" name="email" id="email" required="required" placeholder="Email">
        </div>
        <div>
            <input type="password" name="password" id="password" required="required" placeholder="Password">
        </div>
        <div>
            <input type="submit" value="Register">
        </div>
    </form>
    </div>

</body>

</html>